@model ParcialTorresKanashiro.Models.Usuario

@{
    ViewBag.Title = "El club del comic - Detalles del usuario";
}

<h2>Detalles del usuario</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.clave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.clave)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.esAdmin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.esAdmin)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Volver al listado de usuarios", "Index")
</p>
